@property --background {
  syntax: "<color>"; /* <- defined as type number for the transition to work */
  inherits: true;
}

@keyframes pulsate {
  0% {
  }

  20% {
    --background: #000;
  }

  100% {
    --background: #000;
  }
}

.pulsate {
  animation: pulsate 5s infinite ease-in-out;
}
